.card{
    background-color:rgb(215, 236, 255);
    .card-body{background-color:white;}
    .card-text{font-size: 1.0em;text-align:justify;}
    
    img {
        // margin-left: -99px;
        margin: 0 auto;
        width: 200px;
        height: 200px;
      }
    
    // .card-footer{background-color: white;}
 }
