@import '../../scss/styles.scss';



#bsnavi {
    // height: 565px;
    font-size: 1.15em;
    position: fixed;
    z-index: 5;
    // padding: 0;
    // margin: -15px auto 0 auto;
    // width:100%;
    // box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.2), 0 8px 15px 0 rgba(0, 0, 0, 0.1);
    // -moz-background-clip: padding;
    // -webkit-background-clip: padding-box;
    // background-clip: padding-box;
    // border: 5px solid rgba(darken($roya-blue, 9%), 0.3);
    // @include border-radius(0 0 25px 25px);
    li{
        // height:30px;
        margin: 6px 0px -4px 0;
        background-color: rgba(white, .08);
        &:hover {
            background-color: $redlight;
            // background: linear-gradient(transparent 1%, $redlight 2%, $redlight 98%, transparent 99%);
            // @include transitionAll(.5s);   
        }
        a{
            height:30px;
            margin: -6px -2px 5px -2px;
        }
    }
    .navbar{
        // background-color: lighten($roya-blue, 0%);
        background-color: red !important;
    }
    
    i{
        // margin-top:-2px;
        font-size:26px;
        width:26px;
        height:26px;
    }

    .logo {
        // height: 104px;
        margin: -10px 10px -10px -10px;
        padding:0;
        // background-color:red;
        
        img{
            width: 70px;
            margin: 0px 10px 0px 0px;
        }
        span{
            color:lighten($redlight,20%);
        }
        div{
            font-size: 25px;
            color:white;
            margin: 0px 10px;
        }
    }
    .active-link{
        background-color:$redlight;//$redlight;
        // background: linear-gradient(transparent 1%, $redlight 2%, $redlight 98%, transparent 99%);
        // color:red;
    }
    .loginfetch {
      background: radial-gradient(circle closest-side at 35px 21px, lighten($orangelight, 19%) 0, lighten($orangelight, 19%) 18px, transparent 19px);
    }
  
    @media (min-width: 768px) {
    //   height: 110px;
    li{
        // height:30px;
        // background-color: rgba(white, .1);
        margin: -4px 4px 0 0;
    }    
        .logo {
            // width: 250px;
            // height: 104px;
            div{
                font-size: 25px;
                margin: 0px 20px;
            }
            
            padding:0;
            
            img{
                width: 100px;
                margin: 0px 10px 0px 0px;
            }
        }
  
        .loginfetch {
        background: radial-gradient(circle closest-side at 35px 26px, lighten($orangelight, 19%) 0, lighten($orangelight, 19%) 18px, transparent 20px);
        }
 
        @include transitionAll(.3s);
    }
  
    @media (min-width: 992px) {
    //   height: 160px;
      width: 90%;
  
      @include transitionAll(.3s);
  
    }
}