    <div class='home'>
        <!-- <div class="container"> -->
        <section class="section" style="width:95%;margin: 0 auto;">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4 mb-r">
                    <div class="card">
                        <!--Card image-->
                        <img class="img-fluid dataimg" src="assets/images/Blog-Deploying.svg" alt="Card image cap">
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Card title</h4>
                            <!--Text-->
                            <p class="card-text">We support our customers from analysis and the conception, through development, integration and
                                adaptation until the deployment and the maintenance of these systems. Some quick example
                                text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <!--Card footer-->
                        <div class="card-footer">
                            <span class="left">49$</span>
                            <span class="right">
                                <a placement="top" mdbTooltip="Add to Cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                                <a placement="top" mdbTooltip="Share">
                                    <i class="fa fa-share-alt"></i>
                                </a>
                                <a class="active" placement="top" mdbTooltip="Added to Wishlist" container="body">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 mb-r">
                    <div class="card">
                        <!--Card image-->
                        <img class="img-fluid dataimg" src="assets/images/rocket.png" alt="Card image cap">
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Card title</h4>
                            <!--Text-->
                            <p class="card-text">We have the mission to accompany companies in any project. We support our customers from analysis
                                and the conception, through development, integration and adaptation until the deployment
                                and the maintenance of these systems.
                            </p>
                        </div>
                        <!--Card footer-->
                        <div class="card-footer">
                            <span class="left">54$</span>
                            <span class="right">
                                <a placement="top" mdbTooltip="Add to Cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                                <a placement="top" mdbTooltip="Share">
                                    <i class="fa fa-share-alt"></i>
                                </a>
                                <a class="active" placement="top" mdbTooltip="Added to Wishlist" container="body">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 mb-r">
                    <div class="card">
                        <!--Card image-->
                        <img class="img-fluid dataimg" src="assets/images/Blog-Planning.svg" alt="Card image cap">
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Card title</h4>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.We
                                have the mission to accompany companies in any project and support them implement secure
                                information, management, communication or e-commerce systems. </p>
                        </div>
                        <!--Card footer-->
                        <div class="card-footer">
                            <span class="left">19$</span>
                            <span class="right">
                                <a placement="top" mdbTooltip="Add to Cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                                <a placement="top" mdbTooltip="Share">
                                    <i class="fa fa-share-alt"></i>
                                </a>
                                <a class="active" placement="top" mdbTooltip="Added to Wishlist" container="body">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <!--/card -->
                <div class="col-sm-12 col-md-12 col-lg-4 mb-r">
                    <div class="card text-center">
                        <div class="card-header primary-color white-text">
                            Featured
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Special title treatment</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a class="btn primary-color btn-sm waves-light" mdbRippleRadius>Go somewhere</a>
                        </div>
                        <div class="card-footer text-muted primary-color white-text">
                            <p class="mb-0">2 days ago</p>
                        </div>
                    </div>
                </div>
                <!--/card -->
                <div class="col-sm-12 col-md-12 col-lg-4 mb-r">
                    <div class="card text-center">
                        <div class="card-header primary-color white-text">
                            Featured
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Special title treatment</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a class="btn btn-success btn-sm waves-light" mdbRippleRadius>Go somewhere</a>
                        </div>
                        <div class="card-footer text-muted success-color white-text">
                            <p class="mb-0">2 days ago</p>
                        </div>
                    </div>
                </div>
                <!--/card -->
                <div class="col-sm-12 col-md-12 col-lg-4 mb-r">
                    <div class="card text-center">
                        <div class="card-header primary-color white-text">
                            Featured
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Special title treatment</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.We
                                have the mission to accompany companies in any project and support them implement secure
                                information, management, communication or e-commerce systems.</p>
                            <a class="btn btn-success btn-sm waves-light" mdbRippleRadius>Go somewhere</a>
                        </div>
                        <div class="card-footer text-muted success-color white-text">
                            <p class="mb-0">2 days ago</p>
                        </div>
                    </div>
                </div>
                <!--/card -->
            </div>
            <!--/row -->
        </section>
        <!--/container -->
    </div>
    <!--/home -->

