<div class="card">
    <!--Card image-->
    <app-image api={{api}} imgid="{{trainingid}}"></app-image>
    <!-- <img class="img-fluid dataimg" src="assets/images/Blog-Deploying.svg" alt="Card image cap"> -->
    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h4 class="card-title">{{trainingInput.get('title')}}</h4>
        <!--Text-->
        <p class="card-text">{{trainingInput.get('shortDescription')}}</p>
    </div>
    <!--Card footer-->
    <div class="card-footer">
        <span class="left">{{trainingInput.get('id')}}</span>
        <span class="right">
            <a placement="top" mdbTooltip="Add to Cart">
                <i class="fa fa-shopping-cart"></i>
            </a>
            <a placement="top" mdbTooltip="Share">
                <i class="fa fa-share-alt"></i>
            </a>
            <a class="active" placement="top" mdbTooltip="Added to Wishlist" container="body">
                <i class="fa fa-heart"></i>
            </a>
        </span>
    </div>
</div>