<!-- <p>
  register works!
</p>
<form [formGroup]='rForm' (ngSubmit)='submitRegistration(rForm.value)'>
  <input type="text" formControlName="userName">
  <input type="text" formControlName="email">
  <input type="text" formControlName="password">
  <input type="text" formControlName="passwordCheck">
  <input type="submit" value="Register" [disabled]='!rForm.valid' >
</form> -->

<!-- Register form -->
<section class="section" style="width:95%;margin: 0 auto;">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mb-r">
      <form
        id="registrationform"
        [formGroup]="rForm"
        (ngSubmit)="submitRegistration(rForm.value)"
      >
        <p class="h5 text-center mb-4">Sign up</p>
        <!-- Grid row -->
        <div class="form-row">
          <!-- Material input -->
          <div class="form-group col-md-6">
            <mat-form-field class="input-width">
              <input
                matInput
                formControlName="userName"
                [(ngModel)]="userName"
                placeholder="User name"
                [errorStateMatcher]="matcher"
              />
              <mat-hint align="end">Not more then 20 characters long.</mat-hint>
              <mat-error *ngIf="hasError('userName', 'required')"
                >Name is required</mat-error
              >
              <mat-error *ngIf="hasError('userName', 'maxlength')"
                >You have more than 20 characters</mat-error
              >
            </mat-form-field>
          </div>

          <!-- Grid column -->
          <!-- class="form-control" -->
          <div class="form-group col-md-6">
            <mat-form-field class="input-width">
              <input
                matInput
                formControlName="email"
                [(ngModel)]="email"
                placeholder="Email"
                [errorStateMatcher]="matcher"
              />
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <mat-error *ngIf="hasError('email', 'required')"
                >Email is required</mat-error
              >
              <mat-error *ngIf="hasError('email', 'email')"
                >Not an email format</mat-error
              >
              <mat-error *ngIf="hasError('email', 'maxlength')"
                >You have more than 40 characters</mat-error
              >
            </mat-form-field>
          </div>

          <!-- Grid column -->
          <div class="form-group col-md-6">
            <mat-form-field class="input-width">
              <input
                matInput
                type="password"
                formControlName="password"
                [(ngModel)]="password"
                placeholder="Password"
                [errorStateMatcher]="matcher"
              />
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <mat-error *ngIf="hasError('password', 'required')"
                >Password is required</mat-error
              >
              <!-- <mat-error *ngIf="hasError('email', 'maxlength')"
                >You have more than 20 characters</mat-error
              > -->
            </mat-form-field>
          </div>
          <div class="form-group col-md-6">
            <mat-form-field class="input-width">
              <input
                matInput
                type="password"
                formControlName="passwordCheck"
                [(ngModel)]="passwordCheck"
                placeholder="Confirm password"
                [errorStateMatcher]="matcher"
              />
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <mat-error *ngIf="hasError('passwordCheck', 'required')"
                >Password is required</mat-error
              >
              <!-- <mat-error *ngIf="hasError('email', 'maxlength')"
                >You have more than 20 characters</mat-error
              > -->
            </mat-form-field>
          </div>
        </div>

        <!-- <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input
            type="password"
            formControlName="passwordCheck"
            id="orangeForm-passwordCheck"
            class="form-control"
            mdbInputDirective
          />
          <label for="orangeForm-pass">Confirm password</label>
        </div> -->

        <div class="text-center">
          <input
            type="submit"
            [disabled]="!rForm.valid"
            class="btn btn-deep-orange waves-light"
            value="Sign up"
            mdbWavesEffect
          />
        </div>
      </form>
      <!-- Register form -->
    </div>
  </div>
  <!--/row -->
</section>
<!--/container -->
